body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Open Sans", sans-serif;
  background-image: url('../images/backgr.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed !important;
}

.container ul {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 50px;
    gap: 1.2rem;
    list-style-type: none;
    font-size: clamp(16px, 2vw, 30px);
}

a {
  text-decoration: none;
  color: #001b2b;
}

#up {
  position: fixed;
  bottom: 20px;
  right: 20px;
  display: none;
  cursor: pointer;
  border-radius: 5px;
  box-shadow: 0 0 5px;
  padding: clamp(2vmin, 1%, 2vw);
}

#up.visible {
  display: block;
}

.card {
  margin: 1% auto;
  padding: 2%;
  width: 50%;
  background-color: #2b0e628f;
  border-radius: 5px 10px 5px 10px;
  box-shadow: 0 0 5px rgb(245, 222, 179);
}

.posts {
  background-color: #fffffe2b;
  border-radius: 5px;
  width: 100%;
}

.username {
  background-color: #573b8a;
  color: #fffffe;
  font-size: clamp(5px, 3vw, 20px);
  margin: 0;
  padding: 1%;
  border-radius: 5px 5px 0 0;
}

.post {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  padding: 0.5%;
}

.post span:first-child {
  padding: 1%;
  font-size: clamp(10px, 2vw, 20px);
}

.post span:nth-child(2) {
  padding: 1%;
}

.post img {
  width: 95%;
  height: auto;
  margin: 10px auto;
  border-radius: 10px;
}

.rating {
  font-size: 20px;
  display: flex;
  justify-content: space-around;
  padding: 1%;
}

.rating a:first-child {
   color: rgb(182, 35, 35);
}

.rating a:nth-child(2) {
   color: rgba(209, 170, 29, 0.896);
}

.comment {
  display: flex;
  flex-direction: column;
  padding: 3%;
}

#comment {
  height: 25px;
  outline: none;
  border-radius: 5px;
  border: none;
  font-size: 1.2rem;
}

form {
  margin: 1% auto;
  width: 50%;
  display: flex;
  flex-direction: column;
  color: #001b2b;
}

label {
  margin: 1%;
}

input[type="submit"] {
  background: transparent;
  color: #dedede;
  cursor: pointer;
  transition: 0.7s ease;
}

input[type="submit"]:hover {
  background: #fffffe;
  color: #0f0c29;
}

.comment form input {
  padding: 1%;
  margin: 1%;
  border-radius: 5px;
  outline: none;
  resize: none;
  font-size: 1.3rem;
  background-color: #dededeac;
  border: none;
  box-shadow: 0 0 5px #fffffe14;
  color: #001b2b;
}

.comment form button {
  background: #fffffe14;
  color: #dedede;
  cursor: pointer;
  transition: 0.7s ease;
  border: none;
  margin: 1%;
  padding: 1%;
  border-radius: 5px;
}

.comment form button:hover {
  background: #fffffe;
  color: #0f0c29;
}

.comments {
  display: flex;
  padding: 1%;
  margin-bottom: 1%;
  justify-content: space-between;
  align-items: center;
  background: #fffffe71;
  height: 3vh;
  border-radius: 5px;
  font-size: clamp(10px, 2vw, 20px);
}

.comments a:last-child {
  color: rgb(223, 77, 77);
}

.alll{
    display: flex;
    flex-direction: row;
    gap: 0.5em;
}

.rate {
    display: flex;
    flex-direction: column;
}

.enabled a {
    cursor: pointer;
}

.disabled a {
    color: #c1c1c1;
    cursor: not-allowed;
}

@media screen and (max-width: 768px)  {
  .disabled, .enabled, .page-item {
    font-size: 0.8rem;
  }
}
