{% extends "home.html" %}
{% block title %} <title>Добавление поста</title> {% endblock %}
{% block main %}

<form action="{% url 'add_post' %}" method="post" enctype="multipart/form-data">
    {% if error %}
        <label for="">{{ error }}</label>
    {% endif %}
    {% csrf_token %}
    <label for="title" class="form-label">Заголовок</label>
    <input class="form-control" type="text" name="title" id="title" placeholder="Заголовок" minlength="3" required>

    <label class="form-label" for="description">Описание</label>
    <textarea class="form-control" name="description" id="description" placeholder="Описание" required rows="10"></textarea>

    <input class="form-control mt-4 mb-4" type="file" accept=".png, .jpg, .jpeg" name="image" id="" >
    
    <input class="btn btn-primary" type="submit" name="" value="Отправить">
</form>

{% endblock main %}