{% extends "home.html" %}
{% load static %}
{% load customtags %}
{% block title %} <title>Пост {{ detail.title }}</title> {% endblock %}
{% block main %}
<section class="card">
    <div class="posts">
            <div class="username">
              <span>{{ detail.author }}</span>
            </div>

            <div class="post">
              <span>{{ detail.title }}</span>
              <span>{{ detail.description }}</span>
              {% if detail.image %}
                <img src="{% static detail.image.url %}" alt="img">
              {% endif %}
            </div>
            
            <div class="rating">
              <a href="{% url 'delete_post' detail.id %}"><i class="bi bi-trash"></i></a>
              <a href="{% url 'update_post' detail.id %}"><i class="bi bi-recycle"></i></a>
              <a href="{% url 'rating' detail.id 1 %}"><i class="bi bi-heart"></i></a>
              {% if rating == 0 %}
                <span style="color: grey; font-size: clamp(10px, 2vw, 30px);">{{ rating }} | {{ count_r }} - оценки</span>
              {% elif rating > 0 %}
                <span style="color: #573b8a; font-size: clamp(10px, 2vw, 30px);">{{ rating }} | {{ count_r }} - оценки</span>
              {% else %}
                <span style="color: rgb(223, 77, 77); font-size: clamp(10px, 2vw, 30px);">{{ rating }} | {{ count_r }} - оценки</span>
              {% endif %}
              <a href="{% url 'rating' detail.id -1 %}"><i class="bi bi-dash-circle"></i></a>
              <span style="font-size: clamp(10px, 2vw, 30px);">{{ detail.date_created | format_datetime:"date" }}</span>
            </div>

            <div class="comment">
                <form action="{% url 'comment_create' detail.id %}" method="post" enctype="multipart/form-data">
                  {% csrf_token %}
                   <input type="text" name="comment" placeholder="Комментарий" style="color: white;">
                   <button type="submit">Отправить</button> 
                </form>
                
            </div>

            <!-- todo comments like url -->
          </div>
  </section>

{% include "components/comments_rating.html" %}

{% endblock %}