{% extends "home.html" %}
{% load customtags %}

{% block main %}
<section class="card">
      <div class="posts">
        <div>
          <form action="{% url 'edit_message' details.subject details.sender.id details.recipient.id %}" method="post">
            {% csrf_token %}
            {% if error %}
            <h4 class="h4 text-center text-danger">{{ error }}</h4>
            {% endif %}
            <label for="" class="form-label h3">Изменить:</label>
            <input class="form-control mb-4" type="text" name="subject" placeholder="Тема: {{ details.subject }}">
            <input class="form-control mb-4" type="text" name="text" placeholder="Текст: {{ details.text }}">
            <button class="btn btn-outline-light" type="submit">Отправить</button>
          </form>
          <button type="button" class="mx-auto mb-2 d-block btn btn-outline-danger"><a href="{% url 'delete_message' details.subject details.sender.id details.recipient.id %}">Удалить сообщение! (Отмена отправки!)</a></button>
        </div>
      </div>
  </section>
{% endblock %}