{% load static %}
<!DOCTYPE html>
<html>
<head>
	<title>Login/Registration</title>
	<link rel="stylesheet" type="text/css" href="{% static 'css/styleForForm.css' %}">
	<link href="https://fonts.googleapis.com/css2?family=Jost:wght@500&display=swap" rel="stylesheet">
	{% block title %} <title>Регистрация/Войти</title> {% endblock %}
</head>
<body>

	<div class="main">
		<input type="checkbox" id="chk" aria-hidden="true">
			<button><a href="{% url 'home' %}">< К главной странице!</a></button>
			<div class="signup">
				<form action="{% url 'register' %}" method="post" enctype="multipart/form-data">
					{% csrf_token %}
					{% if error %}
					<div class="error">
        				{{ error }}
						{{ condition}}
    				</div>
					{% else %}
					<label for="chk" aria-hidden="true">Зарегистрироваться</label>
					{% endif %}
					<input type="text" name="username" placeholder="Никнейм" required>
					<input type="email" name="email" placeholder="Почта" required>
					<input type="password" name="password" placeholder="Пароль" required minlength="8">
					<button type="submit">Зарегистрироваться</button>
				</form>
			</div>

			<div class="login">
				<form action="{% url 'login' %}" method="post" enctype="multipart/form-data">
					{% csrf_token %}
					<label for="chk" aria-hidden="true">Войти</label>
					<input type="text" name="username" placeholder="Никнейм" required>
					<input type="password" name="password" placeholder="Пароль" required>
					<button type="submit">Войти</button>
				</form>
			</div>
			
	</div>
</body>
</html>