{% load customtags %}
{% if comments %}
  <div class="card">
    {% for comment in comments %}
    <div class="comments">
      <span>{{ comment.author }}</span>
      <span>{{ comment.comment }}</span>

        <a href="{% url 'comment_rating' comment.id 1 %}"><i class="bi bi-heart" style="font-size: 1.5rem;"></i></a>

        {% if comment.get_current_comment_rating  == 0 %}
        <span style="color: grey; font-size: 1.5rem; ">{{ comment.get_current_comment_rating }} | {{ comment.get_comments_ratings_count }} - оценки</span>

        {% elif comment.get_current_comment_rating  > 0 %}
        <span style="color: #573b8a; font-size: 1.5rem;">{{ comment.get_current_comment_rating }} | {{ comment.get_comments_ratings_count }} - оценки</span>

        {% else %}
        <span style="color: rgb(223, 77, 77); font-size: 1.5rem;">{{ comment.get_current_comment_rating }} | {{ comment.get_comments_ratings_count }} - оценки</span>
        {% endif %}

        <a href="{% url 'comment_rating' comment.id -1 %}"><i class="bi bi-dash-circle" style="font-size: 1.5rem;"></i></a>

      <span>{{ comment.comment_data | format_datetime:"date" }}</span>

      <a href="{% url 'comment_delete' comment.id %}"><i class="bi bi-trash" style="font-size: 1.5rem;"></i></a>
    </div>
    {% endfor %}
  </div>
{% endif %}